<div class="header">
  <%= link_to (image_tag image_url('white_logo.png'), class: 'header-logo'), user_path(current_user), class: 'header-logo-link' %>
  <p class="header-text">What is art?</p>
</div>
