<div class="landscape-picture">
  top profile box goes here
</div>
<%= image_tag @user.profile_pic.url, class: 'user-profile-pic' %>
<%= @user.username %>
<div class="colored box">
  colored box below image
</div>
<div class="favorites-box">
  Favorites
</div>
<div class="gallery-box">
  Gallery
</div>
<div class="quote-box">
  Quote of the Day
</div>
