<h1>Gallery</h1>
Search
<% @search_artworks.each do |artwork| %>
  <% present(artwork) do |artwork| %>
    <div class="artwork">
      <%= link_to image_tag(artwork.image), artwork_path(artwork.id), class: 'image-link'  %>
    </div>
  <% end %>
<% end %>
<%= render 'partials/footer' %>
