<h1>Gallery</h1>
Search
<% @search_artworks.each do |artwork| %>
  <% present(artwork) do |artwork| %>
    <div class="card-columns artwork">
      <div class="card">
        <%= link_to image_tag(artwork.image, class: 'card-img-top'), artwork_path(artwork.id)  %>
      </div>
    </div>
  <% end %>
<% end %>
<%= render 'partials/footer' %>
