<body style="margin-bottom: 200px;">
  <h1>Gallery</h1>
  Search
  <%= link_to "Next Page", next_gallery_path(@next_page) %>
  <% @search_artworks.each do |artwork| %>
    <% present(artwork) do |artwork| %>
      <div class="artwork">
        <%= link_to image_tag(artwork.image), artwork_path(artwork.id), class: 'image-link'  %>
      </div>
    <% end %>
  <% end %>
  <%= render 'partials/footer' %>
</body>
