$fauno: 'Fauna One', serif;
$playfair-display: 'Playfair Display', serif;

// ROOT PAGE
.dancing-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.header-style {
  font-family: $playfair-display;
  font-size: 100px;
  margin-top: 50px;
  text-align: center;
}

.login-box {
  text-align: center;
}

.login-button {
   background: -webkit-linear-gradient(top, #bcd93b, #65a9d7);
   color: white;
   font-size: 50px;
   font-family: $playfair-display;
   margin-top: 100px;
   padding: 20px 300px;
   text-decoration: none;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   vertical-align: middle;
   -webkit-border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   }

.login-button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.login-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.logo {
  margin-left: 20px;
  margin-top: 20px;
  width: 100px;
}

//LOGIN PAGE
.login-background {
  background-image: image-url('blue-texture.jpg');
  background-size: cover;
}

.field {
  border: 1px solid black;
  border-radius: 100px;
  font-family: $playfair-display;
  font-size: 50px;
  margin: 35px;
  padding: 25px;
  text-align: center;

}

.login-form {
  text-align: center;
  opacity: 1;
}

.login-logo {
  display: block;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.side-button {
  border: 1px solid black;
  border-radius: 100px;
  font-family: $playfair-display;
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 250px;
  padding-right: 100px;

  position: absolute;
  bottom: 250px;
  left: -150px;
}

//USER PROFILE PAGE
.landscape-picture {

}

.user-profile-pic {
  
}
