$fauno: 'Fauna One', serif;
$playfair-display: 'Playfair Display', serif;
$simple-box-default: #86B991;
$favorite-box-background: #ff6456;
$quote-of-the-day-background: #5456ea;
$calendar-background: #eaea54;

@mixin profile-box-settings {
  align-items: center;
  display: flex;
  justify-content: center;
}

//ARTWORK SHOW PAGE
.artwork-information {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $fauno;
}

.artwork-background {
  background-image: image-url('grey-texture.jpg');
  background-size: contain;
}

.artwork-box {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.artwork-picture {
  height: 500px;
}

//FOOTER
.footer {
  bottom: 0;
  display: flex;
  height: 220px;
  position: absolute;
}

.footer-images {
  height: 200px;
  padding-left: 80px;
  padding-right: 50px;
}

//GALLERY PAGE
.grid-item {
  width: 200px;
}
.grid-item--width2 {
  width: 400px;
}

//LOGIN PAGE
.login-background {
  background-image: image-url('blue-texture.jpg');
  background-size: cover;
}

.field {
  border: 1px solid black;
  border-radius: 100px;
  font-family: $playfair-display;
  font-size: 50px;
  margin: 35px;
  padding: 25px;
  text-align: center;

}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  display: block;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.profile-pic-box {
  font-size: 20px;
}

.side-button {
  border: 1px solid black;
  border-radius: 100px;
  font-family: $playfair-display;
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 250px;
  padding-right: 100px;

  position: absolute;
  bottom: 250px;
  left: -150px;
}

// ROOT PAGE
.dancing-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.header-style {
  font-family: $playfair-display;
  font-size: 100px;
  margin-top: 50px;
  text-align: center;
}

.login-box {
  text-align: center;
}

.login-button {
   background: -webkit-linear-gradient(top, #bcd93b, #65a9d7);
   color: white;
   font-size: 50px;
   font-family: $playfair-display;
   margin-top: 100px;
   padding: 20px 300px;
   text-decoration: none;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   vertical-align: middle;
   -webkit-border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   }

.login-button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.login-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.logo {
  margin-left: 20px;
  margin-top: 20px;
  width: 100px;
}


//USER PROFILE PAGE
.calendar {
  height: 100px;
}

.calendar-box {
  background-color: $calendar-background;
  border: 5px solid black;
  height: 30%;
  @include profile-box-settings;
}

.favorites-box {
  background-color: $favorite-box-background;
  border: 5px solid black;
  height: 30%;
  @include profile-box-settings;
}

.gallery-box {
  border: 5px solid black;
  height: 40%;
  @include profile-box-settings;
}

.landscape-picture {
  align-items: stretch;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  height: 250px;
  justify-content: center;
}

.name-box {
  border: 5px solid black;
  height: 25%;
  flex-direction: column;
  font-family: $fauno;
  font-size: 40px;
  @include profile-box-settings;
}

.profile-column {
  flex: 50%;
}

.profile-container {
  display: flex;
  height: 1060px;
  flex-wrap: wrap;
  align-content: stretch;
}

.profile-favorite {
  height: 100px;
}

.profile-gallery {
  height: 100px;
}

.profile-landscape {
  width: 100vw;
}

.quiz-box {
  border: 5px solid black;
  height: 25%;
  @include profile-box-settings;
}

.quote-box {
  background-color: $quote-of-the-day-background;
  border: 5px solid black;
  color: white;
  flex-direction: column;
  font-family: $fauno;
  font-size: 19px;
  height: 50%;
  @include profile-box-settings;
  padding: 30px;
  text-align: center;
}

.simple-box {
  background-color: $simple-box-default;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 200px;
}

.user-profile-pic {
  border: 5px solid white;
  border-radius: 100px;
  height: 280px;
  position: absolute;
  top: 130px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0
}
