<html class="artwork-background">
  <body style="margin-bottom: 220px;">
    <%= render "partials/header" %>
      <% @genes.each do |gene| %>
        <% present(gene) do |gene| %>
          <div class="gene-information">
            <div class="artwork-information-headers">Name: </div><%= gene.name %>
            <div class="artwork-information-headers">Description: </div><%= gene.description %>
          </div>
        <% end %>
      <% end %>
    <%= render "partials/footer" %>
  </body>
</html>
